doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/fontello.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(itemscope, itemtype="http://schema.org/Blog")
    script !{page_data}
    block content
    link(rel='stylesheet', href='/stylesheets/app.css')
    !{tracking}
    script(src='/react/main.js' type='text/javascript' defer)
    script(src='/tinymce.min.js' type='text/javascript' defer)
