doctype html
html
  head
    title= title
  body(itemscope, itemtype="http://schema.org/Blog")
    !{header}
    block content
    !{footer}
    link(rel='stylesheet', href='/stylesheets/app.css')
    !{tracking}
    script(src='/react/main.js' type='text/javascript' defer)
    script(src='/tinymce.min.js' type='text/javascript' defer)
