module.exports = {
	NODE_ENV : process.env.NODE_ENV || "development",
	FACEBOOK_APP_ID : process.env.FACEBOOK_APP_ID,
	FACEBOOK_APP_SECRET : process.env.FACEBOOK_APP_SECRET,
	GOOGLE_SERVICE_ACCOUNT_EMAIL : process.env.GOOGLE_SERVICE_ACCOUNT_EMAIL,
	GOOGLE_SERVICE_ACCOUNT_KEY_FILE : process.env.GOOGLE_SERVICE_ACCOUNT_KEY_FILE,
	ANALYTICS_VIEW_ID : process.env.ANALYTICS_VIEW_ID
}