$primary_background: #5B608B;
$primary_font_color: #393953;
$secondary_color: #3F406A;
$light_color: #C9BFDE;
$text_grey: #6B6B6B;
$light_red: #E67070;

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}