$primary_background: #5B608B;
$primary_font_color: #393953;
$secondary_color: #3F406A;
$light_color: #C9BFDE;
$text_grey: #6B6B6B;
$light_red: #E67070;
$main_background: #e7e8f3;

$dark_color: rgb(27,27,83);
$dark_color90: rgba(27,27,83, 0.9);
$dark_color80: rgba(27,27,83, 0.8);
$dark_color70: rgba(27,27,83, 0.7);
$dark_color60: rgba(27,27,83, 0.6);
$dark_color50: rgba(27,27,83, 0.5);
$dark_color40: rgba(27,27,83, 0.4);
$dark_color30: rgba(27,27,83, 0.3);
$dark_color20: rgba(27,27,83, 0.2);
$dark_color10: rgba(27,27,83, 0.1);
$dark_color05: rgba(27,27,83, 0.05);
>>>>>>> master

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}