$primary_color: #393953;

//green
$secondary_color: #1fc055;

$view_green: #20BD20;

$comments_orange: #FF8600;;

$likes_red: #E00000;

$banner-color: rgb(114, 131, 172);

$tertiary_color: #e32d79;
$light_color: #C9BFDE;
$text_light_grey: #BFBFBF;
$text_grey: #797878;
$main_background: #F5F8F9;
$plain_background: #FFF;
$basic-blue: #38B7EA;
$border-color: 1px solid rgba(0,0,0,0.1);
$footer-color: #ACE1F1;
$mid-blue: #DDF0F7;

$dark_color: rgb(0,0,0);
$dark_color90: rgba(0,0,0, 0.9);
$dark_color80: rgba(0,0,0, 0.8);
$dark_color70: rgba(0,0,0, 0.7);
$dark_color60: rgba(0,0,0, 0.6);
$dark_color50: rgba(0,0,0, 0.5);
$dark_color40: rgba(0,0,0, 0.4);
$dark_color30: rgba(0,0,0, 0.3);
$dark_color20: rgba(0,0,0, 0.2);
$dark_color10: rgba(0,0,0, 0.1);
$dark_color05: rgba(0,0,0, 0.05);

$primary_blue: #00B7FF;

.layer-1{ z-index: 1}
.layer-2{ z-index: 2 }

.gen-bs{
	box-shadow: 0 1px 2px rgba(0,0,0,.07);
}

@mixin button($color){
	text-decoration: none;
	line-height: 24px;
	cursor: pointer;
	border: 1px solid $color;
	border-radius: 2px;
	padding: 4px 20px;
	transition: all 0.3s;
	background-color: $color;
	color: white;
	&:hover{
		background-color: white;
		color: $color;
	}
	&.small{
		line-height: 15px;
		padding: 4px 6px;
	}
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}