html{
	height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  &.shrunk-header{
    .header{
      height: 38px;
      img{
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(90deg);
        height: 28px;
      }
      .site-details{
        position: relative;
        top: -3px;
      }
    }
    #application{
      padding-top: 46px;
    }
  }
}

a {
  color: #00B7FF;
}

.header{
    height: 50px;
    background-color: #F2C4D5;
    padding-top: 8px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    transition: all 1s;
    img{
    	height: 40px;
      transition: all 1s;
    }
    &.shrunk{
      height: 38px;
      img{
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(90deg);
        height: 28px;
      }
      .site-details{
        top: -3px;
      }
    }
    .user-image{
      height: 45px;
      width: 45px;
      margin-right: 20px;
      border-radius: 23px;
      background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvnQDAP3ceAilA8LPcFwc92M1xfJJEzxueNzG-c_1Wax1tzhv6EQ');
      background-size: cover;
    }
}

#application{
	padding-top: 58px;
	height: 100%;
  box-sizing: border-box;
  transition: all 1s ease-in;
	#main-content{		height: 100%;
		overflow: auto;
	}
}

.site-details{
  position: relative;
  top: 0px;
  transition: all 1s;
  .site-name{
    font-size: 28px;
    margin-left: 10px;
    color: #400822;
    font-weight: bolder;
  }
  .site-about{
    margin-left: 10px;
    color: #8C0F4A;
  }
}

.pull-right{
  float: right;
}
.login-button{
  display: block;
  height: 40px;
  width: 55px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  line-height: 40px;
  color: black;
  font-size: 12px;
}