@import 'basics';
html{
	height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  &.shrunk-header{
    .header{
      height: 38px;
      img{
        -ms-transform: rotate(7deg) translateX(-3px);
        -webkit-transform: rotate(7deg) translateX(-3px);
        transform: rotate(90deg) translateX(-3px);
        height: 28px;
      }
      .site-details{
        position: relative;
        top: -6px;
      }
      .right-elements{
        height: 38px;
      }
    }
    .user-image{
      -ms-transform: scale(0.7) translate(0px,-10px);
      -webkit-transform: scale(0.7) translate(0px,-10px);
      transform: scale(0.7) translate(0px,-10px);
      margin-top: 5px;
    }
    .login-button{
      transform: translate(0px,-7px);
    }
    .drop-down-container{
      top: 32px;
    }
    .container{
      padding-top: 38px;
    }
  }
}

a {
  color: #00B7FF;
}

.header{
    z-index: 1;
    height: 58px;
    background-color: #5B608B;
    padding-top: 8px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    img{
    	height: 40px;
    }
    &.shrunk{
      height: 38px;
      img{
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(90deg);
        height: 28px;
      }
      .site-details{
        top: -3px;
      }
    }
    .user-image{
      height: 40px;
      width: 40px;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 23px;
      background-size: cover;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 8px;
    }
    .new-post{
      margin-right: 10px;
      color: white;
      text-decoration: none;
      background: $light_color;
      height: 25px;
      border-radius: 2px;
      padding: 3px 10px;
      line-height: 23px;
      margin-top: 7px;
      box-shadow: -8px -8px 12px #B7A7D6 inset;
      cursor: pointer;
      position: absolute;
      right: 81px;
      bottom: 15px;
    }
    .login-options{
        width: 400px;
        height: 58px;
    }
    .facebook, .google{
      height: 100%;
      width: 185px;
      display: table;
      float: left;
      margin-left: 10px;
      color: white;
      text-decoration: none;
      .image{
        display: table-cell;
        height: 20px;
        width: 20px;
        background-size: contain;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
      }
      .text{
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
      }
    }
    .google{
      border-right: 1px solid $primary_background;
    }
}

#application{
	height: 100%;
  box-sizing: border-box;
	.main-content{		
    height: 100%;
    overflow: hidden;
	}
}

.wrapper{
  overflow: auto;
  height: 100%;
  position: relative;
}

.container{
  padding-top: 58px;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.right-elements{
  background-color: $light_color;
  height: 58px;
  position: relative;
  top: -8px;
  @include transform(translateX(400px));
  transition: all 0.5s;
  &.show{
    @include transform(translateX(0px));
  }
}

.site-details{
  position: relative;
  top: 0px;
  .site-name{
    font-size: 28px;
    margin-left: 10px;
    color: white;
  }
  .site-about{
    margin-left: 10px;
    color: $light_color;
  }
}

.pull-right{
  float: right;
}
.login-button{
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 20px;
  line-height: 45px;
  color: white;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  background: $light_color;
  top: 0;
  box-sizing: border-box;
}
.btn-primary{
  height: 40px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  background-color: $light_color;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  border: none;
  &:hover{
    background-color: $primary_background;
  }
}

.drop-down-container{
  position: absolute;
  height: 58px;
  width: 125px;
  top: 50px;
  right: 16px;
  color: $primary_background;
  display: none;
  &.visible{
    display: block;
  }
  .drop-down{
    width: 100%;
    margin-top: 9px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
  }
  .up-pick{
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    right: 13px;
    border-bottom: 9px solid white;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
  }
  .drop-option{
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    &:hover{
      background-color: $light_color;
    }
    a{
      display: block;
      height: 100%;
      width: 115px;
      text-decoration: none;
      color: inherit;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 5px;
      margin-left: 5px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.27);
      box-sizing: border-box;
    }
    &:last-child a{
      border-bottom: 0;
    }
  }
}