@import 'basics';
html{
	height: 100%;
}
body {
  font: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  height: 100%;
}

a {
  color: #00B7FF;
}
.loader{
  height: 0px;
  position: fixed;
  left: 0;
  top: 58px;
  width: 100%;
  &:before{
    position          : absolute;
    background-color  : green;
    content           : "";
    -webkit-animation : loader-before-animation 2s infinite;
    -moz-animation    : loader-before-animation 2s infinite;
    animation         : loader-before-animation 2s infinite; 
  }
  &:after{
    position          : absolute;
    content           : "";
    background-color  : white;
    -webkit-animation : loader-after-animation 2s infinite;
    -moz-animation    : loader-after-animation 2s infinite;
    animation         : loader-after-animation 2s infinite; 
  }
  &.loading{
    &:after{height: 3px;}
    &:before{height: 3px;}
  }
}
@keyframes loader-before-animation {
  0% {
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}
@keyframes loader-after-animation {
  0% {
    width: 0;
  }
  50%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
@-webkit-keyframes loader-before-animation {
  0% {
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}
@-webkit-keyframes loader-after-animation {
  0% {
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}

.main-content{
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  &.large-content{
    padding-bottom: 160px;
  }
}

.header{
    z-index: 2;
    height: 58px;
    background-color: $plain_background;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: $border-color;
    img{
      height: 30px;
      margin: 15px 15px 15px 0;
    }
    .icon{
      margin-left: 3px;
    }
    &.shrunk{
      height: 38px;
      img{
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(90deg);
        height: 28px;
      }
      .site-details{
        top: -3px;
      }
    }
    .user-image{
      height: 40px;
      width: 40px;
      border-radius: 23px;
      background-size: cover;
      cursor: pointer;
      float: left;
      margin: 8px 0px;
    }
    .new-post{
      float: left;
      margin: 12px 10px 12px 0;
      @include button($basic-blue);
      .icon{
        margin-right: 5px;
      }
    }
    .login-options{
        width: 315px;
        height: 58px;
    }
    .facebook, .google{
      height: 32px;
      width: 32px;
      float: left;
      text-decoration: none;
      box-sizing: border-box;
      margin: 12px 0;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      .image{
        height: 32px;
        width: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
}
.right-elements{
  background-color: transparent;
  @include transform(translateX(85px));
  transition: all 0.5s;
  &.show{
    @include transform(translateX(0px));
  }
}

#application{
	height: 100%;
  box-sizing: border-box;
  background-color: $main_background;
}

.wrapper{
  overflow: auto;
  position: relative;
  background-color: $main_background;
}

.container{
  padding-top: 58px;
  box-sizing: border-box;
  z-index: 1;
  padding-bottom: 160px;
}

.site-details{
  overflow: auto;
  .site-name{
    line-height: 58px;
    float: left;
    font-size: 24px;
    color: rgba(0,0,0,0.4);
  }
  .site-about{
    margin-left: 10px;
    color: $light_color;
  }
}

.pull-right{
  float: right;
}
.login-button{
  position: absolute;
  right: 20px;
  top: 0;
  margin: 12px 0;
  background-color: $plain_background;
  @include button($basic-blue);
  .icon{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $basic-blue;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
  }
}
.btn-primary{
  height: 40px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  background-color: $light_color;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  border: none;
  &:hover{
    background-color: $plain_background;
  }
  &.round{
    border-radius: 35px;
    width: 70px;
    height: 70px;
  }
}

.drop-down-container{
  position: absolute;
  height: 58px;
  width: 160px;
  top: 50px;
  right: 16px;
  color: $dark_color10;
  opacity: 0;
  pointer-events: none;
  transition: all .25s;
  @include transform(translateY(10px));
  &.visible{
    opacity: 1;
    pointer-events: auto;
    @include transform(translateY(0));
  }
  .drop-down{
    width: 100%;
    margin-top: 9px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  .up-pick{
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    right: 0;
    &:before{
      position: absolute;
      height: 0px;
      content: "";
      width: 0px;
      top: 0px;
      right: 13px;
      border-bottom: 10px solid rgba(0,0,0,0.1);
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    &:after{
      position: absolute;
      height: 0px;
      content: "";
      width: 0px;
      top: 1px;
      right: 14px;
      border-bottom: 9px solid white;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
    }
  }
  .drop-option{
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    a{
      display: block;
      height: 100%;
      text-decoration: none;
      padding: 15px 0;
      margin-right: 5px;
      margin-left: 5px;
      color: $dark_color50;
      border-bottom: 1px solid rgba(128, 128, 128, 0.27);
      box-sizing: border-box;
       &:hover{
        color: $basic-blue;
      }
    }
    &:last-child a{
      border-bottom: 0;
    }
    .icon{
      margin-right: 10px;
    }
  }
}
.footer{
  width: 100%;
  background: black;
  height: 120px;
  background: $footer-color;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: grey;
}
.hidden{
  visibility: hidden;
}