@import 'basics';
.editable-input{
	.ei-action{
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.2s;
	}
	.ei-input{
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		line-height: 34px;
		font-size: 16px;
		padding: 0;
		outline: 0;
		border: 0;
		border-bottom: 1px solid $dark_color50;
	}
	.ei-placeholder{
		opacity: 0.3;
	}
	.ei-edit-container, .ei-text-container{
		line-height: 34px;
		position: relative;
		cursor: pointer;
	}
	.ei-text-container:hover{
		background-color: $dark_color05;
	}
}