@import 'basics';
.edit-post.container{
	padding-left: 150px;
    padding-right: 150px;
	padding-bottom: 20px;
	.wrapper{
		overflow: hidden;
	}
	.title{
		position: absolute;
		height: 40px;
		width: 100%;
		margin-top: 10px;
		box-sizing: border-box;
		input{
			width: 99%;
		    height: 35px;
		    font-size: 20px;
		    border: none;
		    outline: none;
		    color: black;
		    text-align: center;
    	}
	}
	.btn.btn-primary{
		&.save{
			position: absolute;
			bottom: 40px;
			right: -5px;
			box-shadow: 2px 2px 11px #bbb;
			font-size: 21px;
		}
	}
}
.tinymce{
	padding-top: 50px;
	height : calc(100% + 70px);
	box-sizing: border-box;
	iframe{
		height: 100% !important;
	}
	.mce-panel{
		border: 1px solid white;
	}
	.mce-tinymce{
		height: 100%;
		border-radius: 2px;
	}
	.mce-tinymce > .mce-container-body{
		background-color: white;
		height: 100%;
	}
	.mce-toolbar-grp{
		background-color: white;
	}
	.mce-toolbar > .mce-container-body{
		text-align: center;
	}
	.mce-edit-area{
		height: calc(100% - 100px);
	}
	button{
		color: $primary_font_color;
		i{
			color: $primary_font_color;
		}
	}
	.mce-statusbar .mce-container-body{
		height: 35px;
		background-color: white;
		.mce-path{
			.mce-path-item, .mce-divider{
				display: none;
			}
		}
	}
	.mce-btn{
		background-color: white;
	}
	.mce-btn-group{
		border: none;
	}
    .mce-fullscreen .mce-container-body{
        padding: 0 50px;
    }
}