@import 'basics';
.editable-input{
	.ei-action{
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
		transition: all 0.2s;
	}
	.ei-input{
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		line-height: 34px;
		font-size: 16px;
		padding: 0;
		outline: 0;
		border: 0;
		border-bottom: 2px solid $dark_color50;
	}
	.ei-edit-container, .ei-text-container{
		line-height: 34px;
		position: relative;
		cursor: pointer;
	}
	.ei-text-container:hover{
		background-color: $dark_color05;
		.ei-action{
			opacity: 1;
			pointer-events: none;
		}
	}
}