@import 'basics';
.home.container{
	.cards-container{
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		overflow: hidden;

	}
	.grid-sizer{
		display: none;
	}
	.card-wrapper{
		height: 385px;
		width: 300px;
		display: inline-block;
		position: relative;
	}
	.card-wrapper{
		background-color: $light_color;
		float: left;
		margin-bottom: 10px;
		border-radius: 2px;
		padding: 6px;
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
		transition: all 0.3s;
		cursor: pointer;
		text-decoration: none;
		margin: 5px;
		transform: scale(0.95);
		&:hover{
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
			transform: scale(1);
		}
		.title{
			margin: 5px;
			font-size: 20px;
			font-weight: bold;
			color: black;
			max-height: 92px;
		}
		.details{
			text-align: left;
			position: absolute;
			box-sizing: border-box;
			padding: 10px 3px 3px 3px;
			width: 97%;
			bottom: 3px;
			background: $light_color;
			height: 35px;
			box-shadow: 0px -6px 19px $light_color;
			font-weight: bold;
		}
		.preview{
			color: $text_grey;
		}
		.view-count{
			float: right;
			color: $light_red;
			font-weight: normal;
		}
		.icon{
			margin-right: 3px;
		}
		.author{
			color: $primary_background;
		}
	}
	.card{
		height: 100%;
		width: 100%;
		display: block;
		color: black;
		text-decoration: none;
		overflow: hidden;
	}
	.post-image{
		max-width: 288px;
		max-height: 235px;
	}
}