@import 'basics';
.home.container{
	.cards-container{
		width: 100%;
		padding: 20px;
	}
	.grid-sizer{
		display: none;
	}
	.grid-sizer, .card{
		width: 230px;
		background-color: #C9BFDE;
		float: left;
		margin-bottom: 10px;
		border-radius: 2px;
		padding: 3px;
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
		.title{
			margin: 5px;
			font-size: 20px;
			font-weight: bold;
		}
		.details{
			text-align: left;
			margin: 5px;
		}
		.view-count{
			float: right;
		}
		.author{
			color: #5B608B;
		}
	}
	.card{
		transform: scale(0.9);
		transition: all 0.7s;
		cursor: pointer;
	}
	.cards-container.show-cards .card{
		transform: scale(1);
		&:hover{
			transform: scale(1.05);
		}
	}
	.post-image{
		width: 100%;
	}
}