.my-posts.container{
  .item{
    margin: 20px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
  }
  .item-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
  }
  .item-preview{
    color: rgba(0,0,0,0.5);
    padding: 20px 0;
  }
  button{
    position: absolute;
    line-height: 24px;
    right: 0;
    top: 0;
  }
}