@import 'basics';
.my-posts.container{
  .item{
    margin: 20px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
  }
  .item-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
  }
  .item-preview{
    color: rgba(0,0,0,0.5);
    padding: 20px 0;
  }
  .post-controls {
    position: absolute;
    right: 0;
    top: 0;
    button{
      float: left;
      margin-left: 10px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 2px;
      background-color: white;
      border: 1px solid;
      cursor: pointer;
      outline: 0;
      &:hover{
        color: white;
        background-color: $primary_background;
      }
    }
  }
}