@import 'basics';
.new-post.container{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	.title{
		position: absolute;
		height: 40px;
		width: 100%;
		margin-top: 10px;
		padding-right: 100px;
		box-sizing: border-box;
		input{
			width: 99%;
		    height: 35px;
		    font-size: 20px;
		    border: none;
		    outline: none;
    	}
	}
	.btn.btn-primary{
		&.save{
			position: absolute;
			bottom: 30px;
			left: 65px;
		}
		&.publish{
			position: absolute;
			bottom: 30px;
			left: 160px
		}
	}
}
.tinymce{
	padding-top: 50px;
	height: 100%;
	box-sizing: border-box;
	iframe{
		height: 100% !important;
	}
	.mce-panel{
		border: 1px solid $light_color;
	}
	.mce-tinymce{
		height: 100%;
		border-radius: 2px;
	}
	.mce-tinymce > .mce-container-body{
		background-color: $light_color;
		height: 100%;
	}
	.mce-toolbar-grp{
		background-color: $light_color;
	}
	.mce-edit-area{
		height: calc(100% - 100px);
	}
	button{
		color: $primary_font_color;
		i{
			color: $primary_font_color;
		}
	}
	.mce-statusbar .mce-container-body{
		height: 35px;
		background-color: $light_color;
		.mce-path{
			.mce-path-item, .mce-divider{
				display: none;
			}
		}
	}
	.mce-btn{
		background-color: $light_color;
	}
}