@import 'basics';
@import 'editable-input';
.profile.container{
  .item{
    position: relative;
    display: block;
    color: black;
    padding: 0px 20px 34px;
    min-height: 90px;
    text-decoration: none;
    background-color: white;
    margin-bottom: 10px;
    &:hover{
      transform: scale(1.01);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:last-child{
      border-bottom: 0;
    }
  }
  .profile-container{
    max-width: 1240px;
    min-width: 1024px;
    overflow: auto;
    position: relative;
    margin: 10px auto;
    box-sizing: border-box;
  }
  .item-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    color: $dark_color;
    padding: 10px 0;
    margin: 0;
  }
  .item-preview{
    color: $dark_color50;
    padding: 0;
  }
  .post-controls {
    position: absolute;
    right: 20px;
    top: 10px;
    button{
      float: left;
      font-size: 14px;
      margin-left: 15px;
      outline: 0;
      @include button($secondary_color)
    }
    button.remove-btn{
      @include button($tertiary_color)
    }
    button.edit-btn{
      @include button($primary_color)
    }
  }
  .profile-section{
    position: absolute;
    width: 240px;
    box-sizing: border-box;
    float: left;
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    .p-image{
      width: 150px;
      height: 150px;
      border-radius: 2px; 
    }
    .p-name{
      line-height: 50px;
      font-size: 18px;
    }
  }
  .posts-section{
    width: 100%;
    float: right;
    box-sizing: border-box;
    padding-left: 250px;
    padding-right: 2px;
  }
  .editable-input{
    margin: 10px 0;
  }
  .last-updated{
    position: absolute;
    right: 20px;
    line-height: 34px;
    bottom: 0;
  }
  .user-name{
    position: absolute;
    left: 20px;
    line-height: 34px;
  }
}