@import 'basics';

.show-post{
	.title{
		font-size: 30px;
		text-align: center;
		margin: 20px 0px 20px 0px;
		font-weight: bold;
	}
	.content{
		padding: 0px 150px 0px 150px;
		font-size: 20px;
		margin-top: 35px;
	}
	.user-details{
		text-align: center;
	}
	.user-image{
		border-radius: 25px;
		display: inline-block;
		vertical-align: middle;
		height: 30px;
	}
	.user-name{
		margin-left: 10px;
	}
}